---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2F_M7tHtgP23nNt0ho7dqi7SGOUi1rxd6x1PjdicZ1jVCVA-ZN7FKyJC59--vFKeUd&client_id=897566473997-1u4c3v4ndded0b8qggfeuucu1gefqcui.apps.googleusercontent.com&client_secret=fckV8zU3QQuGzsS9y3SD_U7s
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.GlytA9USziEvwSi5cvA8NdYwy9E2tD6h-zkfmzmM67YDNw8WzUe1Uw1Kl46wFTGArlFCHbG18fgRpZzn9k_zDvDk6E3RrNJ_oUM3E44mXNQKa6hm8mlVi3ql_9Jd9A",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Dec 2016 09:39:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/ultimaker.com_33313636373633363835@resource.calendar.google.com/events?orderBy=starttime&singleEvents=true&timeMax=2016-12-07T23:59:59%2B01:00&timeMin=2016-12-07T00:00:00%2B01:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlytA9USziEvwSi5cvA8NdYwy9E2tD6h-zkfmzmM67YDNw8WzUe1Uw1Kl46wFTGArlFCHbG18fgRpZzn9k_zDvDk6E3RrNJ_oUM3E44mXNQKa6hm8mlVi3ql_9Jd9A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p33cepju1s7gt00g\"",
         "summary": "Flexroom North (max 8)",
         "updated": "2016-12-07T09:24:58.215Z",
         "timeZone": "Europe/Amsterdam",
         "accessRole": "reader",
         "defaultReminders": [],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"2961892270548000\"",
           "id": "oecc4nn603b24ccv5tb1vf35oc",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=b2VjYzRubjYwM2IyNGNjdjV0YjF2ZjM1b2MgdWx0aW1ha2VyLmNvbV8zMzMxMzYzNjM3MzYzMzM2MzgzNUByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t",
           "created": "2016-12-05T12:48:31.000Z",
           "updated": "2016-12-05T13:55:35.274Z",
           "summary": "Skype with Blanca & Lily @UltimakerGB",
           "location": "Flexroom North (max 8)",
           "creator": {
            "email": "b.timmermans@ultimaker.com"
           },
           "organizer": {
            "email": "b.timmermans@ultimaker.com"
           },
           "start": {
            "dateTime": "2016-12-07T10:30:00+01:00"
           },
           "end": {
            "dateTime": "2016-12-07T11:30:00+01:00"
           },
           "iCalUID": "oecc4nn603b24ccv5tb1vf35oc@google.com",
           "sequence": 1,
           "attendees": [
            {
             "email": "ultimaker.com_33313636373633363835@resource.calendar.google.com",
             "displayName": "Flexroom North (max 8)",
             "self": true,
             "resource": true,
             "responseStatus": "accepted"
            },
            {
             "email": "b.bolanos@ultimaker.com",
             "displayName": "Blanca Bolaños",
             "responseStatus": "accepted"
            },
            {
             "email": "s.tuijt@ultimaker.com",
             "responseStatus": "accepted"
            },
            {
             "email": "l.lesiputty@ultimaker.com",
             "responseStatus": "accepted"
            },
            {
             "email": "c.mcadam@ultimaker.com",
             "responseStatus": "accepted"
            },
            {
             "email": "b.timmermans@ultimaker.com",
             "organizer": true,
             "responseStatus": "accepted"
            }
           ],
           "hangoutLink": "https://plus.google.com/hangouts/_/ultimaker.com/skype-with?hceid=Yi50aW1tZXJtYW5zQHVsdGltYWtlci5jb20.oecc4nn603b24ccv5tb1vf35oc",
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"2961041570660000\"",
           "id": "g5kafgtbfrkmp2kh0ieqtfl8p0_20161208T140000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=ZzVrYWZndGJmcmttcDJraDBpZXF0Zmw4cDBfMjAxNjEyMDhUMTQwMDAwWiB1bHRpbWFrZXIuY29tXzMzMzEzNjM2MzczNjMzMzYzODM1QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20",
           "created": "2016-10-27T15:20:44.000Z",
           "updated": "2016-11-30T15:46:25.330Z",
           "summary": "Jos - Bas",
           "location": "Flexroom North (max 8)",
           "creator": {
            "email": "b.vandeursen@ultimaker.com",
            "displayName": "Bas van Deursen"
           },
           "organizer": {
            "email": "b.vandeursen@ultimaker.com",
            "displayName": "Bas van Deursen"
           },
           "start": {
            "dateTime": "2016-12-07T11:30:00+01:00"
           },
           "end": {
            "dateTime": "2016-12-07T12:00:00+01:00"
           },
           "recurringEventId": "g5kafgtbfrkmp2kh0ieqtfl8p0",
           "originalStartTime": {
            "dateTime": "2016-12-08T15:00:00+01:00"
           },
           "iCalUID": "g5kafgtbfrkmp2kh0ieqtfl8p0@google.com",
           "sequence": 1,
           "attendees": [
            {
             "email": "b.vandeursen@ultimaker.com",
             "displayName": "Bas van Deursen",
             "organizer": true,
             "responseStatus": "accepted"
            },
            {
             "email": "j.burger@ultimaker.com",
             "responseStatus": "accepted"
          [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/ultimaker.com_33313636373633363835@resource.calendar.google.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlytA5La7Bkr2UsYA5pWCezAgSDszDW3e_kwMcSH5NWv2S0AB6CPKx0rcebu8v87Jva1NMPrCkFTFTsKtJlqdj-UpFk_j_xQDL-j5gTw9GxoALnvw4GyhzacIbNUBQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1481017710271000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarListEntry",
         "etag": "\"1481017710271000\"",
         "id": "ultimaker.com_33313636373633363835@resource.calendar.google.com",
         "summary": "Flexroom North (max 8)",
         "location": "Watermolenweg 2, 4191 PN Geldermalsen, The Netherlands",
         "timeZone": "Europe/Amsterdam",
         "colorId": "7",
         "backgroundColor": "#42d692",
         "foregroundColor": "#000000",
         "accessRole": "reader",
         "defaultReminders": []
        }
  recorded_at: Wed, 07 Dec 2016 09:39:33 GMT
recorded_with: VCR 3.0.3
