---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2F_M7tHtgP23nNt0ho7dqi7SGOUi1rxd6x1PjdicZ1jVCVA-ZN7FKyJC59--vFKeUd&client_id=897566473997-1u4c3v4ndded0b8qggfeuucu1gefqcui.apps.googleusercontent.com&client_secret=fckV8zU3QQuGzsS9y3SD_U7s
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.GlytA0BO_J1qK33Bd-RJWQQcRQMwP8EhnThjCR7FNplz45Gw4mYy78Hzq01I_-FeuBwb8qAeguw9mRcBvtWjMiG6qOPVwHTjH8ycafsWv6pX8iy-7Y0XR_eyUmQd5w",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Wed, 07 Dec 2016 09:30:37 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlytA0BO_J1qK33Bd-RJWQQcRQMwP8EhnThjCR7FNplz45Gw4mYy78Hzq01I_-FeuBwb8qAeguw9mRcBvtWjMiG6qOPVwHTjH8ycafsWv6pX8iy-7Y0XR_eyUmQd5w
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarList",
         "etag": "\"p324ahksqrngt00g\"",
         "nextSyncToken": "CIio05rd4dACEhlkLmNhcmRpbmFhbEB1bHRpbWFrZXIuY29t",
         "items": [
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1481033885549000\"",
           "id": "ultimaker.com_34373434393034372d323039@resource.calendar.google.com",
           "summary": "Meetingroom 2 (max 12)",
           "location": "Watermolenweg 2, 4191 PN Geldermalsen, The Netherlands",
           "timeZone": "Europe/Amsterdam",
           "colorId": "6",
           "backgroundColor": "#ffad46",
           "foregroundColor": "#000000",
           "accessRole": "reader",
           "defaultReminders": []
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1481033888289000\"",
           "id": "ultimaker.com_31383835363937302d323233@resource.calendar.google.com",
           "summary": "Meetingroom ZB 1 (max 12)",
           "location": "Unieweg 1 5301 KS Zaltbommel",
           "timeZone": "Europe/Amsterdam",
           "colorId": "1",
           "backgroundColor": "#ac725e",
           "foregroundColor": "#000000",
           "accessRole": "reader",
           "defaultReminders": []
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1481036458859000\"",
           "id": "ultimaker.com_34393136343437342d383736@resource.calendar.google.com",
           "summary": "Meetingroom 4 (max 6)",
           "location": "Watermolenweg 2, 4191 PN Geldermalsen, The Netherlands",
           "timeZone": "Europe/Amsterdam",
           "colorId": "18",
           "backgroundColor": "#b99aff",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "reader",
           "defaultReminders": []
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1481035942261000\"",
           "id": "d.cardinaal@ultimaker.com",
           "summary": "d.cardinaal@ultimaker.com",
           "timeZone": "Europe/Amsterdam",
           "colorId": "14",
           "backgroundColor": "#9fe1e7",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "owner",
           "defaultReminders": [
            {
             "method": "popup",
             "minutes": 10
            }
           ],
           "notificationSettings": {
            "notifications": [
             {
              "type": "eventCreation",
              "method": "email"
             },
             {
              "type": "eventChange",
              "method": "email"
             },
             {
              "type": "eventCancellation",
              "method": "email"
             },
             {
              "type": "eventResponse",
              "method": "email"
             }
            ]
           },
           "primary": true
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1481033886287000\"",
           "id": "ultimaker.com_2d36323639353130352d323735@resource.calendar.google.com",
           "summary": "Meetingroom 3 (max 6)",
           "location": "Watermolenweg 2, 4191 PN Geldermalsen, The Netherlands",
           "timeZone": "Europe/Amsterdam",
           "colorId": "23",
           "backgroundColor": "#cd74e6",
           "foregroundColor": "#000000",
      [...]
