---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/ultimaker.com_33313636373633363835@resource.calendar.google.com/events?orderBy=starttime&singleEvents=true&timeMax=2016-12-05T23:59:59%2B01:00&timeMin=2016-12-05T00:00:00%2B01:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlytA7trbajRADAGLfw8gB-WqgFn9V29pUQJakV_Yh7PaBAJhbz5hFnRYD7o297NMAfFmHke8xWLgjs1Qf9WFUfurAsHM3mVn-YsexIxYvgzbdEb-teTs2gh-QubPw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p33sffhu7rjgt00g\"",
         "summary": "Flexroom North (max 8)",
         "updated": "2016-12-07T09:02:48.491Z",
         "timeZone": "Europe/Amsterdam",
         "accessRole": "reader",
         "defaultReminders": [],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"2961858378296000\"",
           "id": "mgo4k4lp1pdkq6ia6n6ma79i40_20161205T080000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=bWdvNGs0bHAxcGRrcTZpYTZuNm1hNzlpNDBfMjAxNjEyMDVUMDgwMDAwWiB1bHRpbWFrZXIuY29tXzMzMzEzNjM2MzczNjMzMzYzODM1QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20",
           "created": "2016-07-04T08:54:41.000Z",
           "updated": "2016-12-05T09:13:09.148Z",
           "summary": "SMS M Meeting",
           "location": "Flexroom North (max 8)",
           "creator": {
            "email": "l.wijnen@ultimaker.com",
            "displayName": "Linsey Wijnen"
           },
           "organizer": {
            "email": "s.vandenheuvel@ultimaker.com",
            "displayName": "Simone van den Heuvel"
           },
           "start": {
            "dateTime": "2016-12-05T09:00:00+01:00"
           },
           "end": {
            "dateTime": "2016-12-05T11:00:00+01:00"
           },
           "recurringEventId": "mgo4k4lp1pdkq6ia6n6ma79i40",
           "originalStartTime": {
            "dateTime": "2016-12-05T09:00:00+01:00"
           },
           "iCalUID": "mgo4k4lp1pdkq6ia6n6ma79i40@google.com",
           "sequence": 2,
           "attendees": [
            {
             "email": "m.hoffmans@ultimaker.com",
             "responseStatus": "accepted"
            },
            {
             "email": "g.garcia@ultimaker.com",
             "displayName": "Gerard Garcia",
             "responseStatus": "needsAction"
            },
            {
             "email": "s.vandenheuvel@ultimaker.com",
             "displayName": "Simone van den Heuvel",
             "organizer": true,
             "responseStatus": "declined"
            },
            {
             "email": "l.lesiputty@ultimaker.com",
             "responseStatus": "accepted"
            },
            {
             "email": "i.smeekes@ultimaker.com",
             "responseStatus": "accepted"
            },
            {
             "email": "s.tuijt@ultimaker.com",
             "responseStatus": "declined"
            },
            {
             "email": "ultimaker.com_33313636373633363835@resource.calendar.google.com",
             "displayName": "Flexroom North (max 8)",
             "self": true,
             "resource": true,
             "responseStatus": "accepted"
            },
            {
             "email": "t.heinemans@ultimaker.com",
             "displayName": "Tommes Heinemans",
             "responseStatus": "accepted"
            }
           ],
           "hangoutLink": "https://plus.google.com/hangouts/_/ultimaker.com/sms-m-meeting?hceid=bC53aWpuZW5AdWx0aW1ha2VyLmNvbQ.mgo4k4lp1pdkq6ia6n6ma79i40",
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"2961858337056000\"",
           "id": "884alp1bef7cik68gh67a1tojs_20161205T093000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=ODg0YWxwMWJlZjdjaWs2OGdoNjdhMXRvanNfMjAxNjEyMDVUMDkzMDAwWiB1bHRpbWFrZXIuY29tXzMzMzEzNjM2MzczNjMzMzYzODM1QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20",
           "created": "2015-11-09T11:31:59.000Z",
           "updated": "2016-12-05T09:12:48.528Z",
           "summary": "UL overleg",
           "description": "Wekelijks overleg over voortgang van lopende Ultilabs projecten.",
           "location": "Flexruimte Noord (max 8), Watermolenweg 2, 4191 PN Geldermalsen, The Netherlands",
           "creator": {
            "email": "m.elserman@ultimaker.com",
            "displayName": "Martijn Elserman"
           },
           "organizer": {
            "email": "m.elserman@ultimaker.com",
            "displayName": "Martijn Elserman"
           },
           "start": {
            "dateTime": "2016-12-0[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/ultimaker.com_33313636373633363835@resource.calendar.google.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlytA7trbajRADAGLfw8gB-WqgFn9V29pUQJakV_Yh7PaBAJhbz5hFnRYD7o297NMAfFmHke8xWLgjs1Qf9WFUfurAsHM3mVn-YsexIxYvgzbdEb-teTs2gh-QubPw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1481017710271000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarListEntry",
         "etag": "\"1481017710271000\"",
         "id": "ultimaker.com_33313636373633363835@resource.calendar.google.com",
         "summary": "Flexroom North (max 8)",
         "location": "Watermolenweg 2, 4191 PN Geldermalsen, The Netherlands",
         "timeZone": "Europe/Amsterdam",
         "colorId": "7",
         "backgroundColor": "#42d692",
         "foregroundColor": "#000000",
         "accessRole": "reader",
         "defaultReminders": []
        }
  recorded_at: Mon, 05 Dec 2016 09:00:00 GMT
recorded_with: VCR 3.0.3
