---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/ultimaker.com_33313636373633363835@resource.calendar.google.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-zA2BKLXZrZE-RbpznEjqqdOn6C367YNYPsQcDLxC3pTqL2PJnf-lJp7fgHzObjw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1481017710271000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarListEntry",
         "etag": "\"1481017710271000\"",
         "id": "ultimaker.com_33313636373633363835@resource.calendar.google.com",
         "summary": "Flexroom North (max 8)",
         "location": "",
         "timeZone": "Europe/Amsterdam",
         "colorId": "7",
         "backgroundColor": "#42d692",
         "foregroundColor": "#000000",
         "accessRole": "reader",
         "defaultReminders": []
        }
  recorded_at: Wed, 07 Dec 2016 10:00:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/ultimaker.com_33313636373633363835@resource.calendar.google.com/events?orderBy=starttime&singleEvents=true&timeMax=2016-12-07T23:59:59%2B01:00&timeMin=2016-12-07T00:00:00%2B01:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-zA2BKLXZrZE-RbpznEjqqdOn6C367YNYPsQcDLxC3pTqL2PJnf-lJp7fgHzObjw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p33oc7ju3vbod00g\"",
         "summary": "Flexroom North (max 8)",
         "updated": "2016-12-13T10:26:49.366Z",
         "timeZone": "Europe/Amsterdam",
         "accessRole": "reader",
         "defaultReminders": [],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"2962253275552000\"",
           "id": "oecc4nn603b24ccv5tb1vf35oc",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=b2VjYzRubjYwM2IyNGNjdjV0YjF2ZjM1b2MgdWx0aW1ha2VyLmNvbV8zMzMxMzYzNjM3MzYzMzM2MzgzNUByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t",
           "created": "2016-12-05T12:48:31.000Z",
           "updated": "2016-12-05T13:55:35.274Z",
           "summary": "Skype with Blanca",
           "location": "Flexroom North (max 8)",
           "creator": {
            "email": "a@example.com"
           },
           "organizer": {
            "email": "a@example.com"
           },
           "start": {
            "dateTime": "2016-12-07T10:30:00+01:00"
           },
           "end": {
            "dateTime": "2016-12-07T11:30:00+01:00"
           },
           "iCalUID": "oecc4nn603b24ccv5tb1vf35oc@google.com",
           "sequence": 1,
           "attendees": [
            {
             "email": "a@example.com",
             "responseStatus": "declined"
            },
            {
             "email": "b@example.com",
             "displayName": "Blanca Zappos",
             "responseStatus": "accepted"
            },
            {
             "email": "c@example.com",
             "organizer": true,
             "responseStatus": "accepted"
            },
            {
             "email": "ultimaker.com_33313636373633363835@resource.calendar.google.com",
             "displayName": "Flexroom North (max 8)",
             "self": true,
             "resource": true,
             "responseStatus": "accepted"
            },
            {
             "email": "d@example.com",
             "responseStatus": "accepted"
            },
            {
             "email": "e@example.com",
             "responseStatus": "accepted"
            }
           ],
           "hangoutLink": "https://plus.google.com/hangouts/_/ultimaker.com/skype-with?hceid=Yi50aW1tZXJtYW5zQHVsdGltYWtlci5jb20.oecc4nn603b24ccv5tb1vf35oc",
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"2961041570660000\"",
           "id": "g5kafgtbfrkmp2kh0ieqtfl8p0_20161208T140000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=ZzVrYWZndGJmcmttcDJraDBpZXF0Zmw4cDBfMjAxNjEyMDhUMTQwMDAwWiB1bHRpbWFrZXIuY29tXzMzMzEzNjM2MzczNjMzMzYzODM1QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20",
           "created": "2016-10-27T15:20:44.000Z",
           "updated": "2016-11-30T15:46:25.330Z",
           "summary": "Jos - Bas",
           "location": "Flexroom North (max 8)",
           "creator": {
            "email": "a@example.com",
            "displayName": "Bas Jones"
           },
           "organizer": {
            "email": "a@example.com",
            "displayName": "Bas Jones"
           },
           "start": {
            "dateTime": "2016-12-07T11:30:00+01:00"
           },
           "end": {
            "dateTime": "2016-12-07T12:00:00+01:00"
           },
           "recurringEventId": "g5kafgtbfrkmp2kh0ieqtfl8p0",
           "originalStartTime": {
            "dateTime": "2016-12-08T15:00:00+01:00"
           },
           "iCalUID": "g5kafgtbfrkmp2kh0ieqtfl8p0@google.com",
           "sequence": 1,
           "attendees": [
            {
             "email": "a@example.com",
             "displayName": "Bas Jones",
             "organizer": true,
             "responseStatus": "accepted"
            },
            {
             "email": "c@example.com",
             "responseStatus": "accepted"
            },
            {
         [...]
