---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v3/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FYiyxDzu1kHlc6cjroqt3j4iKOZDllb31e3Gg7hXWDdI&client_id=897566473997-1u4c3v4ndded0b8qggfeuucu1gefqcui.apps.googleusercontent.com&client_secret=fckV8zU3QQuGzsS9y3SD_U7s
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "access_token": "ya29.Ci-rA9IDWfqBy7JkRkW2IxNlFqtrM1ZDpb4NcMm8BfBvDtJFSPamynTUOss_7hauWA",
         "token_type": "Bearer",
         "expires_in": 3600
        }
  recorded_at: Mon, 05 Dec 2016 11:42:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/ultimaker.com_33313636373633363835@resource.calendar.google.com/events?orderBy=starttime&singleEvents=true&timeMax=2016-12-05T23:59:59%2B01:00&timeMin=2016-12-05T00:00:00%2B01:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-rA9IDWfqBy7JkRkW2IxNlFqtrM1ZDpb4NcMm8BfBvDtJFSPamynTUOss_7hauWA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p334b3dtdujed00g\"",
         "summary": "Flexroom North (max 8)",
         "updated": "2016-12-05T11:05:57.453Z",
         "timeZone": "Europe/Amsterdam",
         "accessRole": "reader",
         "defaultReminders": [],
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"2961858378296000\"",
           "id": "mgo4k4lp1pdkq6ia6n6ma79i40_20161205T080000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=bWdvNGs0bHAxcGRrcTZpYTZuNm1hNzlpNDBfMjAxNjEyMDVUMDgwMDAwWiB1bHRpbWFrZXIuY29tXzMzMzEzNjM2MzczNjMzMzYzODM1QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20",
           "created": "2016-07-04T08:54:41.000Z",
           "updated": "2016-12-05T09:13:09.148Z",
           "summary": "SMS M Meeting",
           "location": "Flexroom North (max 8)",
           "creator": {
            "email": "l.wijnen@ultimaker.com",
            "displayName": "Linsey Wijnen"
           },
           "organizer": {
            "email": "s.vandenheuvel@ultimaker.com",
            "displayName": "Simone van den Heuvel"
           },
           "start": {
            "dateTime": "2016-12-05T09:00:00+01:00"
           },
           "end": {
            "dateTime": "2016-12-05T11:00:00+01:00"
           },
           "recurringEventId": "mgo4k4lp1pdkq6ia6n6ma79i40",
           "originalStartTime": {
            "dateTime": "2016-12-05T09:00:00+01:00"
           },
           "iCalUID": "mgo4k4lp1pdkq6ia6n6ma79i40@google.com",
           "sequence": 2,
           "attendees": [
            {
             "email": "m.hoffmans@ultimaker.com",
             "responseStatus": "accepted"
            },
            {
             "email": "g.garcia@ultimaker.com",
             "displayName": "Gerard Garcia",
             "responseStatus": "needsAction"
            },
            {
             "email": "s.vandenheuvel@ultimaker.com",
             "displayName": "Simone van den Heuvel",
             "organizer": true,
             "responseStatus": "declined"
            },
            {
             "email": "l.lesiputty@ultimaker.com",
             "responseStatus": "accepted"
            },
            {
             "email": "i.smeekes@ultimaker.com",
             "responseStatus": "accepted"
            },
            {
             "email": "s.tuijt@ultimaker.com",
             "responseStatus": "declined"
            },
            {
             "email": "ultimaker.com_33313636373633363835@resource.calendar.google.com",
             "displayName": "Flexroom North (max 8)",
             "self": true,
             "resource": true,
             "responseStatus": "accepted"
            },
            {
             "email": "t.heinemans@ultimaker.com",
             "displayName": "Tommes Heinemans",
             "responseStatus": "accepted"
            }
           ],
           "hangoutLink": "https://plus.google.com/hangouts/_/ultimaker.com/sms-m-meeting?hceid=bC53aWpuZW5AdWx0aW1ha2VyLmNvbQ.mgo4k4lp1pdkq6ia6n6ma79i40",
           "reminders": {
            "useDefault": true
           }
          },
          {
           "kind": "calendar#event",
           "etag": "\"2961858337056000\"",
           "id": "884alp1bef7cik68gh67a1tojs_20161205T093000Z",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=ODg0YWxwMWJlZjdjaWs2OGdoNjdhMXRvanNfMjAxNjEyMDVUMDkzMDAwWiB1bHRpbWFrZXIuY29tXzMzMzEzNjM2MzczNjMzMzYzODM1QHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20",
           "created": "2015-11-09T11:31:59.000Z",
           "updated": "2016-12-05T09:12:48.528Z",
           "summary": "UL overleg",
           "description": "Wekelijks overleg over voortgang van lopende Ultilabs projecten.",
           "location": "Flexruimte Noord (max 8), Watermolenweg 2, 4191 PN Geldermalsen, The Netherlands",
           "creator": {
            "email": "m.elserman@ultimaker.com",
            "displayName": "Martijn Elserman"
           },
           "organizer": {
            "email": "m.elserman@ultimaker.com",
            "displayName": "Martijn Elserman"
           },
           "start": {
            "dateTime": "2016-12-0[...]
